body{
  margin-top:70px;
  background: #1A253F;
  color:#EDD7C3;
	text-align: center;
	font-family: 'Open Sans', sans-serif;

}

.intro {
	margin: 30px 0px;
	font-weight: bold;
}

h1 {
	color: #EDD7C3;
	text-transform: uppercase;
	font-weight: 800;
}

h4 {
	color: #db7f6e;
	font-weight: 800;
}

p {
	font-weight: 600;
}

#first {
	margin-top: 10px;
	color: #F2B9AE;
}

#second {
	color: #eda79a;

}

#third {
	color: #db7f6e;
	margin-bottom: 30px;
}


#enter {
	border: none;
	padding: 5px 15px;
	border-radius: 5px;
	color: #04A1BF;
	background-color: #db7f6e;
	transition: all 0.75s ease;
	-webkit-transition: all 0.75s ease;
	-moz-transition: all 0.75s ease;
	-ms-transition: all 0.75s ease;
	-o-transition: all 0.75 ease;
	font-weight: normal;
}

#enter:hover{
	background-color: #F2B9AE;
	color: #FFCD5D;
}

ul {
	text-align: left;
	margin-top: 20px;
}

 .menu{
        background-color: #db7f6e;
        text-align: center;
    } 
    
    .menu ul{
    display:inline-flex;
    list-style: none;
    color: white;
        
    }
    .menu ul li{
        width: 120px;
        margin: 15px;
        padding: 15px;
    }
    
    .menu ul li a {
        text-decoration: none;
        color: #fff;
    }
    .menu .fa{
        margin-right: 8px;
    }
    
    .active, .menu ul li:hover{
        border-radius: 2px;
    }
    
    .sub-menu{
        display: none;
    }
    .menu ul li:hover .sub-menu
    {
        display:block;
        position: absolute;
        background: #db7f6e;
        margin-top: 10px;
        margin-left: -5px;
        
    }
    .menu ul li:hover .sub-menu ul{
        display: block;
        margin: 5px
    }
    
    .menu ul li:hover .sub-menu ul li{
        width: 90px;
        padding: 5px;
        border-bottom: dotted #fff;
        background: transparent;
        border-radius: 0;
        text-align: left;
    }
        #text{
        color:black;
        position: absolute;
        font-size: 50px;
        left:600px;
        font-family: "Montserrat";
    }
    

input {
	border-radius: 5px;
	min-width: 65%;
	padding: 5px;
	border: none;
}


.done {
	background: #51DF70 !important;
	color: #00891E;
}

.delete {
	display: none;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #db7f6e;
  color: white;
  text-align: center;
    }